@using Library.Model
@model Tome

@{
    ViewData["Title"] = "Sikeres létrehozás";
}

<div class="Message">
    <h2>Kötet sikeresen létrehozva!</h2>
</div>
<div class="Details">
    <h3>A létrehozott kötet adatai:</h3>
    <strong>Kötethez tartozó könyv címe: </strong> @Model.Book.Title
    <strong>Kötethez tartozó könyv szerzője: </strong> @Model.Book.Author
    <strong>Kötet azonosítója: </strong> @Model.Id
</div>

<div class="backToMainPage">
    <a asp-controller="Home" asp-action="Index">Vissza a főoldalra</a>
</div>