@using Library.Model
@using Microsoft.AspNetCore.Http


    
<!DOCTYPE html>

<html style="background-image: url('~/images/librarybackground.jpg')">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>A könyvtár honlapja </title>

    <environment include="Development">
        <link rel="stylesheet" type="text/css" href="~/css/site.css" />
        <script src="~/lib/jquery/dist/jquery.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
 @**@
        </script>
    </environment>
</head>
<body>
    @if (ViewBag.Message != null)
    {
        <div class="Message">@ViewBag.Message</div>
    }

    <div class="header">
        <div class="headerText">
            <h1>
                Fikciós Interaktív Könyvtárközösség Aloldala
            </h1>
        </div>
    </div>
    <div class="headerAdmin">
        @if (ViewBag.CurrentGuestName == null)
        {
            <table>
                <tr>
                    <td>
                        <a asp-controller="Account" asp-action="Login">Bejelentkezés</a>
                    </td>
                    <td>
                        <a asp-controller="Account" asp-action="Register">Regisztráció</a>
                    </td>
                </tr>
            </table>
        }
        else
        {
            <table>
                <tr>
                    <td colspan="2">
                        Üdvözöljük, @ViewBag.CurrentGuestName!
                    </td>
                </tr>
                <tr>
                    <td>
                        <a asp-controller="Account" asp-action="Logout">Kijelentkezés</a>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr></tr>
            </table>
        }
    </div>

    <div class="content">
        <div class="booksContent">
            @RenderBody()
        </div>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
